:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
}

/* index.css */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container {
    padding: 20px;
}

.search-bar, .hotel-view {
    border: 0px solid #ccc; /* Add a border for visibility */
    padding: 10px;
    width: 100%; /* Ensure full width */
}

.search-bar {
    background-color: #f8f9fa; /* Light background for visibility */
}

.hotel-view {
    background-color: transparent; /* White background */
    margin-top: 20px; /* Add some margin to separate from the search bar */
}
