:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #f3f3f3;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
}

/* index.css */
body, html, #root {
    @apply h-full;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open sans';
    overflow-x: hidden;
    background-color: #f3f3f3;
}

.grid-container {
    padding: 20px;
}

.search-bar, .hotel-view {
    border: 0px solid #ccc; /* Add a border for visibility */
    padding: 10px;
    width: 100%; /* Ensure full width */
}

.search-bar {
    background-color: #f8f9fa; /* Light background for visibility */
}

.hotel-view {
    background-color: transparent; /* White background */
    margin-top: 20px; /* Add some margin to separate from the search bar */
}

.login
{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Roboto';
}
a.signup
{
    color: white;
    font-size: 1.15rem;
    text-decoration: none;
    border-color: #272932;
    background-color: #272932;
    border-width: 2px;
    border-style: solid;
    padding: 0.3rem 1rem 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.5s;
    font-family: 'Roboto';
}

.logo
{
    font-size: 2rem;
    font-family: 'Great vibes';
    color: #272932;
    display: flex;
}

.large-2::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  .large-2::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(185, 22, 22, 0.3);
    background-color: #999999;
    border: 1px solid #e7e7e7;
  }

  .sizing
{
    max-width: 75%;
}
.bold
{
    font-weight: bold;
}
.more
{
    font-size: 0.82rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: 0.5s;

}
.more:hover
{
    overflow: visible;
    text-overflow: unset;
    display: -webkit-box;
    -webkit-line-clamp: unset;
    transition: 0.5s;
}

.btn-custom {
    background-color: #272932;
    color: #ffffff;
    border-color: #272932;
}
.btn-custom:hover {
    background-color: #090a0e;
    color: #ffffff;
    border-color: #272932;
}

.wideButton
{
    width: 15%;
}

